/* You can add global styles to this file, and also import other style files */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .list-title {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
  }

  .sign-in-up-btn{
    cursor:pointer;
    color:blue;
  }
  
  .sign-in-up-btn:hover{
    color:blue;
    text-decoration: underline; 
    text-decoration:underline;
  }

.delete-btn{
    cursor: pointer;
    position: absolute;
    right: 10px;
  }


.delete-btn:hover{
  cursor: pointer;
  color: #c71a1a;
  position: absolute;
  right: 10px;
}
