.margin-right-5{
    margin-right: 10px;
}

.custom-list-group-item{
    padding: 5px !important;
}

.delete-btn{
    position: absolute;
    right: 10px;
}

.delete-btn:hover{
    color: #c71a1a;
    position: absolute;
    right: 10px;
}


