<div *ngIf="Modal.listComponent.selectedList?.todos">

    <div class="list-group">
              <button (click)="Modal.finishTodo(todo.id)" [disabled]="todo.assignee && (todo.assignee?.id != Modal.currentUser.id)"
               *ngFor="let todo of Todos" href="#" 
               class="list-group-item list-group-item-action custom-list-group-item"
               data-toggle="tooltip"
               data-placement="top"
               [attr.title]="todo.completedBy&&!todo.assignee ? createCompletedTooltip(todo) : null"
               >
                    <h5>
                          <i *ngIf="!todo.completedBy; else completed" class="far fa-square margin-right-5" ></i>
                          <ng-template #completed>
                              <i class="far fa-check-square margin-right-5"></i>
                          </ng-template>
                        
                          <i *ngIf="todo.important" class="fas fa-star" style="color:#f4e842"></i>
                          <span *ngIf="!todo.assignee; else assignee" class="badge badge-success">All</span>
                          <ng-template #assignee>
                              <ng-container *ngIf="todo.assignee?.id == Modal.currentUser.id; else another" >
                                      <span  class="badge badge-danger">Me</span>
                              </ng-container>
                          </ng-template>
                          <ng-template #another>
                                  <span class="badge badge-info">{{todo.assignee?.userName}}</span>
                          </ng-template>
                          {{todo.text}}

                            <span *ngIf="todo.creator.id == Modal.currentUser.id && !todo.completedBy" 
                              (click)="Modal.deleteTodo(todo)" class="delete-btn align-middle"><i class="fas fa-trash"></i></span>
                    </h5>

                    <!-- (Modal.listComponent.selectedList?.admin.some(x=>x.id == Modal.currentUser.id)) -->
                    <!-- (todo.creator.id == Modal.currentUser.id) ||  -->
                </button>
    </div>
</div>