
    <div id="modal-details" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <app-header [Modal]="this"></app-header>
              </div>
              <div class="modal-body">
                <app-body [Modal]="this"></app-body>
              </div>
          </div>
        </div>
      </div>

      <app-invitation-modal [InvitationLink]="this.invitationLink"></app-invitation-modal>
    
    
