
    <div id="modal-details" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
      
                  <h5 class="modal-title" id="exampleModalLabel"> {{todoList?.title}}</h5>
                      Members: 
                      <div class="Members" *ngFor="let member of todoList?.members">
                        {{member?.userName}}
                      </div>
                        <button class="btn btn-primary"(click)="addMember(todoList.id)">Invite</button>
                        <button class="btn btn-danger" (click)="leaveGroup(todoList.id)">leave group</button>
                        <button class="btn btn-default">edit group</button>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">

                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button">Add</button>
                      </div>
                      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                      <div class="input-group-append">
                            <button (click)="importantSelect()" [ngClass]="{'selected-important':this.listComponent.importantSelected}" class="btn btn-outline-secondary" type="button">
                               <i class="far fa-star"></i>
                             </button>
                          <button id="member-dropdown" (click)="fetchMembers()" class="btn btn-default btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>
                          <div class="dropdown-menu">
                              <span class="dropdown-item" (click)="selectAllMembers()" >All</span>
                            <div *ngIf="listComponent.membersFetched">
                              <div role="separator" class="dropdown-divider"></div>
                              <div *ngFor="let member of members">
                                  <span class="dropdown-item" (click)="memberSelected(member)" >{{member.userName}}</span>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  
              </div>
          </div>
        </div>
      </div>

          <div class="modal fade" id="modal-invitation-link" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                        <h3>Send this link to a friend</h3>
                  </div>
                  <div class="modal-body">
                      {{invitationLink}}
                  </div>
                </div>
              </div>
            </div>
    
      
