<div class="container">
  <!-- <div class="row">
    <div class="col-md-4" style="border: 2px solid black; height: 300px;"></div>
    <div class="col-md-8" style="border: 2px solid black; height: 300px;"></div>
  </div> -->

  <div class="row" style="margin-top:10%;">

  <div class="col-md-4"></div>

  <div class="col-md-4">
          <h2 style="text-align: center">Sign Up</h2>
          <form  #registrationForm = "ngForm" (ngSubmit)="registerUser()" (keypress.enter)="registerUser()">
        
            <div class="form-group">
              <label for="username">username</label>
              <input type="text" class="form-control" id="username"
               required
              [(ngModel)]="user.username"
              name="username"
              #username="ngModel">
            </div>
        
            <div *ngIf="username.invalid && (username.dirty || username.touched)"
              class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Username is required.
              </div>
            </div>
        
            <div class="form-group">
              <label for="email">email</label>
              <input type="text" class="form-control" id="email" 
              required
              [(ngModel)]="user.email"
              name="email"
              #email="ngModel"
              ngModel email>
            </div>
        
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.email">
                  Not correct email format
              </div>
          </div>
        
            <div class="form-group">
              <label for="username">password</label>
              <input type="password" class="form-control" id="password"
               required minlength="6"
               [(ngModel)]="user.password"
               name="password"
               #password="ngModel">
            </div>
        
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters long.
              </div>
            </div>
           
            <div style="text-align: center">
                <button style="width: 40%;" type="submit" class="btn btn-success" [disabled]="registrationForm.invalid">Sign up</button>
                    <br/> <small  routerLink='/login' class="font-weight-light sign-in-up-btn">Sign in</small>
              </div>
        
            <div *ngIf="errors" class="alert alert-danger">
             {{errors}}
            </div>      
      </form>
    </div>
  </div>
</div>