<div class="container">

  <app-navbar [UserName]="currentUser?.userName"></app-navbar>

  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

      <app-addlist-form [listComponent]="this"></app-addlist-form>

      <app-todolists [listComponent]="this" [Todolists]="TodoLists"></app-todolists>

    </div>
  </div>

</div>


<app-details-list-modal [currentUser]="currentUser" [listComponent]="this"></app-details-list-modal>
<app-delete-list-modal [todoList]="todoListDeleteRequest" [listComponent]="this"></app-delete-list-modal>