<div class="container">

  <app-navbar [UserName]="currentUser?.userName"></app-navbar>

  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

      <app-addlist-form [listComponent]="this"></app-addlist-form>

      <app-todolists [listComponent]="this" [Todolists]="TodoLists"></app-todolists>

      <ng-template #notodolists>
        <div style="text-align: center; margin-top: 30%">
          <h4>You don't have any Todo lists. Start by adding them. </h4>
        </div>
      </ng-template>

    </div>
  </div>

</div>


<app-details-list-modal [currentUser]="currentUser" [listComponent]="this"></app-details-list-modal>
<app-delete-list-modal [todoList]="todoListDeleteRequest" [listComponent]="this"></app-delete-list-modal>