.invitation-button{
    margin-left: 3px; 
    width: 30px;
     border: 2px solid #6c757d; 
     background-color: white; 
     color: #6c757d;
}

.invitation-button:hover{
    margin-left: 3px; 
    width: 30px;
     border: 2px solid white ; 
     background-color: green; 
     color: white;
     cursor: pointer;
}

.dropdown-toggle::after {
    display:none;
}

.settings{
    position: absolute;
    top:7%;
    right:4%;
}

.settings:hover{
    position: absolute;
    top:7%;
    right:4%;
    color:green;
    cursor:pointer;
}